/*PrimaryColor*/

$black: #35383a;
$blue: #3492ed;
$white: #fff;
$dark-blue: #323852;
$medium-blue: #5c6caf;

/*Gray*/
$gray: #9a9a9a;
$loading-gray: #ededed;
$fill-gray: #f4f4f4;
$disable-gray: #f4f4f4;
$divider-gray: rgba($black, 0.1);
$shadow-gray: rgba($black, 0.2);
$border-gray: rgba($black, 0.2);
$border-dark-gray: rgba($black, 0.5);
$button-dark-gray: rgba($black, 0.9);
